/ * http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   Licence: aucune (domaine public)
* /

html, corps, div, span, applet, objet, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pré,
a, abbr, acronyme, adresse, grand, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
petit, grève, fort, sub, sup, tt, var,
b, u, je, centre,
dl, dt, dd, ol, ul, li,
fieldset, formulaire, étiquette, légende,
table, légende, tbody, tfoot, thead, tr, th, td,
article, à part, toile, détails, incorporer,
figure, figcaption, pied de page, en-tête, hgroup,
menu, nav, sortie, ruby, section, résumé,
heure, marque, audio, vidéo {
	marge: 0;
	rembourrage: 0;
	bordure: 0;
	taille de police: 100%;
	font: inherit;
	vertical-align: ligne de base;
}
/ * Réinitialisation du rôle d'affichage HTML5 pour les anciens navigateurs * /
article, à part, détails, figcaption, figure,
pied de page, en-tête, hgroup, menu, nav, section {
	bloc de visualisation;
}
corps {
	hauteur de ligne: 1;
}
ol, ul {
	style de liste: aucun;
}
blockquote, q {
	citations: aucune;
}
blockquote: avant, blockquote: après,
q: avant, q: après {
	contenu: '';
	contenu: aucun;
}
table {
	border-collapse: effondrement;
	border-spacing: 0;
}
a {
  text-decoration: 
}
